:root {
    --game-black: #11161c;
    --game-dark-green: #019a48;
    --game-bright-green: #02e564;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Poppins, sans-serif;
    background-color: var(--game-black);
    color: white;
}

nav.bg-dark {
    background-color: var(--game-black) !important;
    border-bottom: .2rem solid var(--game-bright-green);
}

nav .navbar-nav:first-child {
    margin-left: 12.5vw;
}

nav .nav-link {
    color: rgba(255, 255, 255, .8) !important;
    font-weight: 500;
}

nav .nav-link:hover {
    color: var(--game-bright-green) !important;
}

@media screen and (max-width: 992px) {
    nav .navbar-nav:first-child {
        margin-left: 0;
    }
}

.btn-dark-green {
    background-color: var(--game-dark-green);
    padding-right: 2rem;
    padding-left: 2rem;
}

#hero .carousel-inner {
    position: relative;
}

#hero .carousel-inner::before {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, var(--game-black), transparent);
    z-index: 1;
}

#hero .carousel-item img {
    object-fit: cover;
    width: 100%;
    height: 100vh;
    filter: brightness(.25);
}

#hero .carousel-caption {
    height: 100vh;
    width: 100%;
    max-width: 1140px;
    left: 50%;
    transform: translate(-50%);
    flex-wrap: wrap;
    padding-bottom: 6rem;
}

#hero h2 {
    font-size: 3.5rem;
    font-weight: bold;
    position: relative;
}

#hero h2::before {
    content: "";
    position: absolute;
    height: 100%;
    width: .3rem;
    background-color: var(--game-bright-green);
    left: -2.5rem;
}

.genre {
    padding-left: 0;
    display: flex;
    list-style: none;
    align-items: center;
}

.genre::before {
    content: "GENRES: ";
    padding-right: .5rem;
}

.genre li {
    background-color: rgba(255, 255, 255, .1);
    padding: .125rem .625rem;
    margin: 0 .5rem;
    border-radius: 1rem;
}

.price {
    font-size: 1.5rem;
    font-weight: bold;
    position: relative;
}

.price::after {
    content: "IDR";
    font-size: .75rem;
    font-weight: 400;
    color: rgba(255, 255, 255, .5);
    position: absolute;
    top: .2rem;
    right: -1.5rem;
}

#hero ol {
    position: absolute;
    bottom: 0;
    z-index: 11;
    width: 100%;
    padding-left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin-bottom: 0;
}

#hero ol .wrapper {
    position: relative;
    background-color: var(--game-black);
    transition: background-color .3s ease-out;
}

#hero ol li {
    display: block;
}

#hero ol li:hover {
    cursor: pointer;
}

#hero ol li .wrapper::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 5rem;
    width: .3rem;
    background-color: rgba(255, 255, 255, .5);
    z-index: 1;
    transition: height .3s ease-out;
}

#hero ol img {
    object-fit: cover;
    height: 12.5rem;
    width: 30vw;
    opacity: .3;
    transition: height .3s ease-out;
}

#hero ol h3 {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    left: 50%;
    color: white;
    font-weight: bold;
}

#hero ol li.active .wrapper, #hero ol li:hover .wrapper {
    background-color: var(--game-dark-green);
}

#hero ol li.active .wrapper::before, #hero ol li:hover .wrapper::before {
    height: 10rem;
    background-color: var(--game-bright-green);
}

#hero ol li.active img, #hero ol li:hover img {
    height: 15rem;
    opacity: .5;
}

@media screen and (max-width: 768px) {
    #hero .carousel-caption {
        max-width: 720px;
    }

    #hero .carousel-caption p {
        width: 100% !important;
    }
}

@media screen and (max-width: 576px) {
    #hero h2 {
        font-size: 2rem;
    }

    #hero .carousel-caption {
        padding-top: 6rem;
        padding-bottom: 0;
    }

    #hero ul.genre {
        justify-content: center;
    }

    #hero ol li {
        display: none;
    }
}

.pt-6, .py-6 {
    padding-top: 5rem;
}

.pb-6, .py-6 {
    padding-bottom: 5rem;
}

#best {
    background-image: url("../img/gta.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    color: white;
    z-index: 1;
}

#best::before {
    content: "";
    position: absolute;
    top: 0;
    background-image: linear-gradient(to bottom, var(--game-black) 10%, rgba(17, 22, 28, .9), var(--game-black) 90%);
    height: 100%;
    width: 100%;
    z-index: -1;
}

.title {
    position: relative;
}

.title::before {
    content: "";
    position: absolute;
    width: .3rem;
    height: 100%;
    background-color: var(--game-bright-green);
    left: -2.5rem;
}

.title h2 {
    font-weight: bold;
}

.title h3 {
    font-weight: normal;
    text-transform: uppercase;
    font-size: 1rem;
    opacity: .7;
    letter-spacing: .2rem;
}

#best .img-cover {
    width: 20rem;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

#news {
    position: relative;
    z-index: 1;
}

#news::before {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #181d23;
    transform: skewY(3deg);
    z-index: -1;
}

#news .img-news {
    width: 100%;
    height: 12rem;
    object-fit: cover;
}

.text-bright-green {
    color: var(--game-bright-green);
}

#browse .row {
    background-image: linear-gradient(to bottom, var(--game-bright-green), var(--game-dark-green));
}

#browse .row .text-muted {
    color: rgba(255, 255, 255, .7) !important;
}

#browse .img-browse {
    width: 20rem;
    height: 100%;
    margin: -2.5rem auto;
    object-fit: cover;
    display: block;
    border: .5rem solid var(--game-black);
}

#browse .btn-dark-green {
    border: none;
}

@media screen and (max-width: 768px) {
    #browse .img-browse {
        width: 16rem;
    }
}

footer ul.social {
    display: flex;
    list-style: none;
    padding-left: 0;
    justify-content: center;
}

footer ul.social li {
    filter: invert(100%);
    opacity: .7;
    margin-right: 1rem;
    margin-left: 1rem;
    transition: opacity .3s ease-out;
}

footer ul.social li:hover {
    opacity: 1;
}